@page
@model IndexModel

<h3 class="text-center mb-4">Haben Sie auch zu viel Datenvolumen? Hier wird Ihnen geholfen!</h3>

<p>
    Unser einzigartiger Service hilft Ihnen, Ihr mobiles Datenvolumen schneller loszuwerden. Einfach über Ihren Mobilfunk-Zugang diese Seite aufrufen und den Button solange betätigen, bis nichts mehr da ist. Geld verlieren war noch nie so einfach!
</p>
<p>
    Als Telekom-Kunde können Sie den Fortschritt unserer Dienstleistung unter <a href="http://pass.telekom.de/" target="_blank">pass.telekom.de</a> jederzeit begutachten. Falls der verbrauchte Traffic dort nicht direkt angezeigt wird, hilft ein kurzes Trennen der Mobilfunkverbindung (z.B. Flugmodus).
</p>
<p>
    Genug erklärt. Los geht's!
</p>

@if (!Model.IsIPv6)
{
    <div class="alert alert-danger">
        <p class="font-weight-bold">Legacy IP wird nicht unterstützt!</p>
        <p>Bitte verbinden Sie sich mit dieser Website über richtiges Internet (IPv6) um von unserer Dienstleistung gebrauch machen zu können!</p>
    </div>
}
else
{
    <form method="post" class="mb-3">
        <div class="d-flex flex-row">
            <button class="btn btn-primary">Jetzt 100MB verbraten!</button>
            <div class="ml-3 align-self-center text-muted">
                Gesamtes verschwendetes Datenvolumen: @Model.WastedMegabytes MB
            </div>
        </div>
    </form>

    <div class="alert alert-warning">
        <p class="font-weight-bold">Disclaimer</p>
        <p class="mb-0">Vorsicht, das funktioniert wirklich! Bei Betätigung des obigen Buttons wird Ihre IP-Adresse mit Müll-Daten zugespammt. Wir, die Ersteller dieser Website, übernehmen <b>keine Haftung</b> für jegliche Kosten, die Ihnen dadurch entstehen.</p>
    </div>
}

<div class="text-muted small mt-4">
    <p class="font-weight-bold mb-0">Wie funktioniert's?</p>
    <p class="mb-0">
        Bei Betätigung des Buttons sendet der Server automatisch einen 100MB großen UDP-Datenstrom an die IP-Adresse, mit der die Seite aufgerufen wurde. Sofern Sie mit IPv6 verbunden sind, wird der Provider diesen Traffic Ihrem Daten-Tarif zuordnen und die übertragenen Daten von Ihrem verfügbaren Volumen abrechnen.
        Dies funktioniert selbst dann, wenn Ihr Endgerät nur sehr schlechten Empfang hat und die Daten Ihr Ziel somit garnicht erreichen.
    </p>
</div>

<div class="alert alert-secondary small mt-4">
    <p class="mb-0">
        Die Entwicklung dieses Internetangebots hat uns viel Datenvolumen gekostet. Wenn Sie Lust haben, noch mehr Geld zu verlieren, würden wir uns sehr über eine Spende freuen: <a href="https://www.paypal.me/MarcusWichelmann" target="_blank">PayPal</a>
    </p>
</div>
